body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/* home page  */
.d-p {
    background-image: url(images/donation5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
}

.Donation {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 60px;
    border-left: 60px;
    text-align: center;
    color: white;
}

.help-us {
    font-size: 30px;
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.help-today {
    font-size: 15px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 10px;
}

.line-button {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 110, 87), rgb(247, 126, 104));
    padding: 15px 20px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* first section  */

.donate-today {
    text-align: center;
}

.donate-today h1 {
    padding-top: 60px;
    font-size: 35px;
}

.donate-today p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    padding-left: 400px;
    padding-right: 400px;
}

#donate-money {
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: grey;
    margin-right: 900px;
    margin-left: 350px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.donate-amount {
    color: rgb(248, 87, 59);
    background-color: rgb(255, 225, 220);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid tomato;
    border-radius: 5px;
}

.color-style {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

.h {
    width: 500px;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: gray;
}

.button {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 110, 87), rgb(247, 126, 104));
    padding: 15px 20px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 610px;
}

/* second section */

.donate-plan {
    text-align: center;
}

.donate-plan h1 {
    font-size: 38px;
    margin-top: 90px;
    margin-bottom: 10px;
}

.donate-plan p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: gray;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 40px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex-box {
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    padding-top: 70px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.flex-box h1 {
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-box p {
    color: gray;
    font-size: 19px;
}


#food-style {
    background-color: #E6E6FA;
}

#f-t {
    background-color: #FFF5EE;
}

#d-f {
    background-color: #FFF8DC;
}

/* third section */

.get-updetes h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.get-updetes p {
    text-align: center;
    font-size: 22px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 300px;
    padding-right: 300px;
}

.color-box {
    background-color: #fdf3c9;
    text-align: center;
    padding-left: 70px;
    padding-top: 80px;
    padding-bottom: 70px;
    margin-right: 300px;
    margin-left: 300px;
}

.input-email {
    font-size: 18px;
    color: #AA9F9F;
    background-color: #D9D9D9;
    padding-left: 10px;
    width: 240px;
    height: 40px;
    border-radius: 5px;
    border: 0;
}

.input-submit {
    font-size: 18px;
    background-color: #FF5959;
    color: white;
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
    width: 135px;
    height: 42px;
}

/* footer-section */

footer {
    text-align: center;
    background-color: rgb(16, 16, 27);
    color: white;
    margin-top: 100px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer h1 {
    font-size: 28px;
    font-family: cursive;
    color: #FF5959;
}

footer p {
    color: #D9DBE1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}